---
name: Testing
on:
  pull_request:
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        kubernetes_version:
          - "kindest/node:v1.32.8"
          - "kindest/node:v1.33.4"
          - "kindest/node:v1.34.0"

    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup GO
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'

      - name: Build
        run: |
          make build
          mv kubectl-permissions /usr/local/bin   

      - name: Install Kubectl
        uses: azure/setup-kubectl@v4

      - name: Create Kind Cluster
        uses: helm/kind-action@v1.13.0
        with:
          node_image: ${{ matrix.kubernetes_version }}
          wait: 300s

      - name: Deploy RBAC
        run: |
          kubectl apply -f example-rbac.yaml
          kubectl apply -f aggregated-roles.yaml

      - name: Integration Tests
        run: |
          make integration
