name: release
on:
  release:
    types: [published]

permissions:
  contents: write
  id-token: write
  packages: write

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
          fetch-depth: 0

    - name: Setup Go
      uses: actions/setup-go@v6
      with:
        go-version-file: 'go.mod'

    - uses: sigstore/cosign-installer@v4.0.0
    - uses: anchore/sbom-action/download-syft@v0.21.0
    - name: GoReleaser
      uses: goreleaser/goreleaser-action@v6
      with:
        version: latest
        args: release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        VERSION: ${{ github.event.release.tag_name }}

    - name: Update new version in krew-index
      uses: rajatjindal/krew-release-bot@v0.0.47
